* {
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    height: 80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 2rem;
}
.login {
    display: flex;
    justify-content: center;
    align-items: right;
    margin-right: 2rem;
}
a{
    color: white;
    text-decoration: none;
}
